<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="mainAll">
                <div class="mainTopPcBlock"></div>
                <a href="/game" class="buttonGamesOn">Играть сейчас</a>
                <!--<div class="gamesRoomIndex">-->
                <!--<ul class="roomForIndex">-->
                <!--<li>-->
                <!--<p class="roomNumber">№ <span>1</span></p>-->
                <!--</li>-->
                <!--<li></li>-->
                <!--<li></li>-->
                <!--<li></li>-->
                <!--<li></li>-->
                <!--</ul>-->
                <!--</div>-->
                <div class="pokerInfo">
                    <h3 class="pokerInfoTitles">Техасский холдем</h3>
                    <p>Городок Робстаун в Техасе принято считать
                        официальным местом появления холдема.
                        После появления холдема и его распространения
                        по Техасу в 1967 году игра появилась
                        в Лас-Вегасе. Игру в Лас-Вегас привезли такие
                        знаменитые в Техасе игроки, как Дойл Брансон,
                        Амарилло Слим и Кренделл Аддингтон.</p>
                    <p>Аддингтон говорил, что впервые увидел, как
                        играли в холдем, в конце 60-х. В те
                        времена игру ещё не называли Техасский
                        Холдем, а просто Холдем.</p>
                    <p>В Европу техасский холдем несколько позднее
                        привезли Лиам Флад и Терри Роджерс.</p>
                    <p>В течение нескольких лет в эту игру можно было
                        сыграть лишь в одном единственном
                        казино в Вегасе — в «Голден Наггет Казино».</p>
                </div>
            </div>
        </div>
    </div>
</div>