<div class="container">
    <div class="row">
        <div class="wrappPersonBlock clearfix">
            <div class="col-lg-4">
                <div class="cardPersonImg">
                    <img src="img/player.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4 personButtonsAvatars">
                <div class="adetiorsBut">
                    <input type="file" class="butFileALl">
                    <button class="addedAvatars">Сменить аватарку</button>
                </div>
            </div>
            <div class="col-lg-4 personInfo">
                <form id="formTel" method="POST">
                <p class="personInfoText">Ф.И.О.</p>
                <h3 class="personName">
                    <%if(user.local.nick == undefined) {%>
                    <input type="text" value=""  >
                    <!--<form action="/formProfile" id="nameForm" method="POST">-->
                        <!--<input type="text" value="Введите имя" name="nick">-->
                        <!--<input type="submit">-->
                    <!--</form>-->
                    <%} else {%>
                        <input type="text" value="<%= user.local.nick %>"  >
                    <%}%>
                    <button class="readNmae btn-style">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </h3>
                <p class="personInfoText">Logo</p>
                <h3 class="personLogo">
                    <span>VaSaPoo</span>
                    <button class="readNmae btn-style">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button></h3>
                <p class="personInfoText">Пароль</p>
                <p class="personPasswd">

                    <input type="password" value="">
                    <button class="readNmae btn-style">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </p>
                <p class="personInfoText">E-mail</p>
                <p class="personEmail">
                    <input type="email" name="email" value="<%= user.local.email %>">
                    <button class="readNmae btn-style">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </p>
                <p class="personInfoText">Телефон</p>
                <p class="personTelephone">


                            <input type="text" value="<%= user.local.tel %>" name="tel">
                            <input type="submit">




                    <button class="readNmae btn-style">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </p>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>